<nav class="navbar sticky-top  navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-brand float-md-left mb-0" href="#">
      <img src="img/icon/TitleLogo.png" alt="Bootstrap" width="170" height="75">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-masthead justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                  </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Interlock</a></li>
                          <li><a class="dropdown-item" href="#">Sod/Trees</a></li>
                          <li><a class="dropdown-item" href="#">Deck and Patio</a></li>
                          <li><a class="dropdown-item" href="#">Fence/PVC Fence</a></li>
                          <li><a class="dropdown-item" href="#">Landscape Design</a></li>
                          <li><a class="dropdown-item" href="#">Renovation</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">More</a></li>
                      </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contact-us">Contact Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/get-a-quote">Get a Quote</a>
              </li>
          </ul>
      </div>
      <div class="navbar-nav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="facetime://6478222862">Call us: 647-882-2862</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</nav>