<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <% if (lang === 'en') { %>
        <title>A-beauty Home</title>
        <% } %>
    <% if (lang === 'zh') { %>
        <title>美景家园建</title>
        <% } %>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href="css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/getaquote.css">
    <link rel="stylesheet" href="css/contactus.css">
    
    
    </head>
    <body class="d-flex flex-column vh-100">
       <%- include('../partials/navbar')  %>
        <main class="">
            <%- body %>

        </main>
        <%- include('../partials/footer') %>
        

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/validateForms.js"></script>
        <script src="/js/imageFloat.js"></script>
        <script src="/js/sendEmail.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    </body>
</html>