<% layout('layouts/boilerplate') %>



<main>
    <div class="title-background">
        <h1 class="title-sub-other">About US</h1>
        <p class="title-text">We're passionate about creating beautiful spaces. Contact us for your decoration needs! We bring your dreams to life.</p>
    </div>
    <div>
       
    </div>
        

        
    </div>
    
    
</main>