<% layout('layouts/boilerplate') %>

<main>
    <div class="title-background">
        <% if (lang === 'en') { %>
        <h1 class="title-sub-other">Contact Us</h1>

        <div class="d-flex flex-md-row justify-content-center">
            <a href="/about-us" class="title-button-link"><button class="title-button">About Us</button></a>
            <a href="/get-a-quote" class="title-button-link"><button class="title-button">Get a Quote</button></a>
        </div>
        <% } %>
        <% if (lang === 'zh') { %>
            <h1 class="title-sub-other">联系我们</h1>
    
            <div class="d-flex flex-md-row justify-content-center">
                <a href="/about-uschinese" class="title-button-link"><button class="title-button">关于我们</button></a>
                <a href="/get-a-quotechinese" class="title-button-link"><button class="title-button">获取报价</button></a>
            </div>
            <% } %>
       
    </div>

    <div class="contact-container">
        <header>
         
        </header>

    <div class="content-container d-flex flex-md-row flex-column justify-content-between">
      <div class="contact-info">
        <% if(lang === 'en') { %>
        <h6 class="contact-title">Contact Info</h6>
        <h1 class="contact-sub-title">Get In Touch With Us</h1>
        <p class="contact-paragraph">We're passionate about creating beautiful spaces. Contact us for your decoration needs! We bring your dreams to life.</p>
        <% } %>
        <% if(lang === 'zh') { %>
            <h6 class="contact-title">联系信息</h6>
            <h1 class="contact-sub-title">请与我们联系</h1>
            <p class="contact-paragraph">我们热衷于打造美丽的空间。请联系我们，我们将满足您的装饰需求！我们将您的梦想变为现实。</p>
            <% } %>
        <div class="contact-details">
            <ul class="contact-list">
                <li class="contact-item">
                    <span class="contact-list-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </span>
                    <span class="contact-list-text">
                       <a class="contact-list-link " href="facetime://6478222862">Lily: 647-822-2862 </a>
                    </span>
                </li>
                
                <li class="contact-item">
                    <span class="contact-list-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </span>
                    <span class="contact-list-text">
                        <a class="contact-list-link " href="tel:+6479291155">Joe: 647-929-1155</a>
                    </span>
                </li>
            
                <li class="contact-item">
                    <span class="contact-list-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                        </svg>
                    </span>
                    <span class="contact-list-text">
                        <a class="contact-list-link" href="mailto:lilychen862@gmail.com">lilychen862@gmail.com</a>
                    </span>
                </li>

                <li class="contact-item">
                    <span  class="contact-list-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                    </span>
                    <span class="contact-list-text">
                        <p>Markham, ON, Canada</p>
                    </span>
                </li>
            </ul>
        </div>
        <% if(lang === 'en') { %>
        <p class="contact-paragraph">Feel free to contact us. We look forward to working with you!</p>
        <% } %>
        <% if(lang === 'zh') { %>
            <p class="contact-paragraph">随时与我们联系。我们期待与您合作！</p>
            <% } %>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28603.507067678335!2d-79.3708043909201!3d43.856100062509254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3ddc1a866577%3A0xe50a537c1e897199!2sMarkham%2C%20ON!5e0!3m2!1sen!2sca!4v1634560116592!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</main>