<% layout('layouts/boilerplate') %>
        <main>
            <div class="title-background">
                <h1 class="title">A-Beauty 
                    <span><img class="tree" src="img/icon/TreeLogo.png"></span> 
                    <span class="text">Home</span>
                </h1>
                <h3 class="fw-light sub-title ">Construction Inc.</h3>
                <h3 class="fw-bold sub-title "> 美景家园建设有限公司</h3>
                
            </div>
            
        </main>
        

    <div>
        <p>dsfsfsfdsfdsf</p>
        <h1>dsfjsldkfjsdklfjasdlkfjadsklf</h1>
    </div>

